<h3>List of countries via GraphQL Countries</h3>
<!--  If there is an error (most likely: server-sided) it is displayed here-->
<div *ngIf="error" class="alert alert-danger">
  <p>Error: {{ error }}</p>
</div>
<div class="row">
  <div class="col">
    <h3>Country list</h3>
    <div class="card" *ngFor="let country of countries">
      <div class="card-header">
        <strong>{{ country.name}}</strong>
        <button class="btn btn-outline-primary btn-sm float-end"
                (click)="getCountryDetails(country)">
          Details
        </button>
      </div>
      <div class="card-body">
        <p>Capital: {{ country.capital}}</p>
        <p>Language<span *ngIf="country.languages.length > 1">s</span>:</p>
        <ul>
          <li *ngFor="let language of country.languages">
            {{ language.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div *ngIf="countryDetail && countryFlag">
      <h3>
        {{ countryDetail.name}}
      </h3>
      <img [src]="countryFlag" class="img-fluid" [alt]="'Flag of' + countryDetail.name ">
      <p>Capital: <em>{{ countryDetail.capital}}</em></p>
      <div *ngIf="countryDetail.states.length > 0">
        <h4>States/provinces:</h4>
        <ul>
          <li *ngFor="let state of countryDetail.states">
            {{ state.code}} - {{ state.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
